.experience {
    display: grid;
    padding: 32px 40px;
    grid-template-columns: 1fr;
    grid-column: 1 / 3;
}

.experience .exp-content {
    border-left: 4px solid #107fd2;
    border-radius: 3px;
    padding-left: 10px;
    margin: 20px 0px;
}

.experience h2 {
    margin-bottom: 20px;
}
.experience h3 {
    margin-bottom: 7px;
}

.experience h4 {
    font-size: 16px;
    font-weight: 600;
    display: inline;
}

.experience h4, .experience span {
    margin-top: 10px;
}

.experience .time {
   font-style: italic;
   font-size: 15px;
   color: var(--secondary);
}

.experience p {
    padding: 20px 0px;
    max-width: 800px;
}