.experience {
    display: grid;
    padding: 32px 40px;
    grid-template-columns: 1fr;
    grid-column: 1 / 3;
}

.exp-content {
    padding: 10px;
    border-radius: 3px;
    margin: 20px 0px;
    transition: all 0.4s;
    border: 1px solid var(--border-color);
    border-radius: 6px;
}

.exp-content:hover {
    box-shadow: 11px -11px 0px -3px rgba(16,127,210,1);
    transition: all 0.4s;
}

.experience h2 {
    margin-bottom: 20px;
}
.experience h3 {
    margin-bottom: 7px;
}

.experience h4 {
    font-size: 16px;
    font-weight: 600;
    display: inline;
}

.experience h4, .experience span {
    margin-top: 10px;
}

.experience .time {
   font-style: italic;
   font-size: 15px;
   color: var(--secondary);
}

.experience p {
    padding: 20px 0px;
    max-width: 800px;
}