.loader {
    display: flex;
    justify-content: start;
}

.dot {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background: var(--link);
    animation: loading 1.5s ease-in-out infinite;
}

.dot:nth-child(1) {
    animation-delay: 0.45s;
}
.dot:nth-child(2) {
    animation-delay: 0.75s;
}

@keyframes loading {
    0%, 100% {transform: translateY(0);}
    50% {transform:  translateY(-10px);}
}
