@media(max-width: 1024px){
    .app {
        grid-template-columns: 1fr;
    }

    .projects {
        grid-column: 1;
    }

    .footer {
        grid-column: 1;
    }

}

@media(max-width: 900px){
    #project-content {
        grid-template-columns: 1fr;
    }
    .user {
        padding: 0 30px 40px;
    }
}

@media(max-width: 360px){
    .user-info h1 {
        font-size: 25px;
    }
}

@media (max-width: 345px){
    .app {
        padding: 0 8px;
    }
}


