* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans', sans-serif;
    box-sizing: border-box;
}

:root {
    --background-color: #E0E1DD;
    --text-color: #0D1B2A;
    --title-color: #780000;
}

.dark-theme {
    --background-color: #0D1B2A;
    --text-color: #E0E1DD;
    --title-color: #780000;
}

body {
    background: var(--background-color);
    color: var(--text-color);
    transition: background 0.8s, color 0.8s;
}





.nav-bar {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 34px;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
}

.nav-menu li a {
    transition: 0.5s ease;
    text-decoration: none;
    color: var(--text-color);
}

.nav-menu li a:hover {
    color: #780000;
    
}

.mobile-btn {
    display: none;
    cursor: pointer;
    
}
.container {
    width: 70%;
}

.mobile-btn .bar {
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 2px;
    margin: 5px auto;
    background: var(--text-color);
    transition: all 0.3s ease-in-out;
}



.logo {
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
    color: var(--text-color);
    font-size: 20px;
}

.btn-dark-white {
    background: #780000;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
}
#btnIcon {
    margin-left: 5px;
}
.btn-dark-white img {
    width: 25px;
    margin-left: 10px;
}

.content {
    margin-top: 5%; 
}

.content h1 {
    font-size: 80px;
    color: var(--title-color);
    font-weight: 600;
}

.content a {
    background: #780000;
    color: #fff;
    padding: 15px 70px;
    border-radius: 30px;
    cursor: pointer;
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
}

.content-img {
    position: absolute;
    bottom: 0;
    right: 10%;
    
}
.pattern {
    position: absolute;
    top: 0;
    left: 50%;
    transform: rotate(40deg);
    z-index: -1;
}

.pattern img {
    width: 450px;
    position: absolute;
    top: 0;
    left: 0;
    animation: move 1s linear infinite alternate-reverse;
}
.pattern img:nth-child(1){
    transform: rotate(-45deg) translate(-70px, -50px);
    animation-delay: 0.5s;
}
.pattern img:nth-child(2){
    transform: rotate(65deg) translate(0px, -40px) scale(.8);
    animation-delay: 1.5s;
}

@keyframes move {
    100% {
        margin-left: 40px;
        margin-top: 20px;
        opacity: 0.4;
    }
}

@media only screen and (max-width: 768px) {
    .mobile-btn {
        display: block;
    }

    
    .mobile-btn.active .bar:nth-child(1) {
       transform: translateY(8px) rotate(45deg);
    }
    .mobile-btn.active .bar:nth-child(2) {
        opacity: 0;
    }
    .mobile-btn.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        border-radius: 0 0 0px 0px;
        flex-direction: column;
        background-color: var(--background-color);
        text-align: center;
        width: 100%;
        transition: 0.3s;
        height: 100vh;
        align-items: center;
    }
    .nav-menu li {
        margin: 25px 0;
    } 
    .nav-menu.active {
        left: 0;
    }

}