.user {
    padding: 0 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 12px;

}

.user picture {
    width: 200px;
    height: 200px;
    border-radius: 12px;
    box-shadow: var(--shadow-image);
    margin-top: -100px;
}

.user picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 8px;
}

.user-info h1 {
    font-size: 32px;
}

.user-info p {
    font-size: 18px;
    font-weight: 300;
}

.social {
    display: flex;
    column-gap: 20px;
    margin-top: 24px;
}

.social-link {
    width: 46px;
    height: 46px;
    border-radius: 4px;
    background: var(--bg-body);
    color: var(--secondary);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
}
.social-link:hover {
    color: #fff;
    background: var(--link);
    transform: translateY(-12px);
}
.social-link i {
    font-size: 22px;
}
